name: Build Dependencies

on:
  workflow_call:
    inputs:
      cache-key:
        required: true
        type: string
      cache-path:
        required: true
        type: string
      os:
        required: true
        type: string
      valid-cache:
        required: false
        type: boolean
        default: false
      arch:
        required: false
        type: string
      build-deps-only:
        required: false
        type: boolean
        default: false

jobs:
  build_deps:
    name: Build Dependencies
    runs-on: ${{ inputs.os }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: 'true'

      - name: Load cached deps
        uses: actions/cache@v4
        with:
          path: ${{ inputs.cache-path }}
          key: ${{ inputs.cache-key }}
          fail-on-cache-miss: false

      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.28.0"

      # Add your build steps below depending on the OS
      - name: Install tools Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libglew-dev m4 libdbus-1-dev
          
      - name: Build deps
        run: |
          echo "Starting build for ${{ inputs.os }} on ${{ inputs.arch }}"
          # Replace this with your actual build command, e.g., ./build_deps.sh
