name: Build all

on:
  push:
    branches:
      - main
    paths:
      - 'deps/**'
      - 'src/**'
      - '**/CMakeLists.txt'
      - 'version.inc'
      - ".github/workflows/build_*.yml"
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build-deps-only:
        description: 'Only build dependencies'
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_all:
    name: Build All
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-14
            arch: x86_64
          - os: macos-14
            arch: arm64
    uses: ./.github/workflows/build_check_cache.yml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      build-deps-only: ${{ inputs.build-deps-only || false }}
      cache-path: 'deps/build'
      cache-key: 'elegoo-deps-${{ matrix.os }}-${{ matrix.arch }}'
    secrets: inherit
